# Git ignore file
.DS_Store
.ipynb_checkpoints
.pyc
*.pyc
apiScrapy/output/건설사업정보시스템/품질검사성적서 등록 목록/selectIoPmQtscList_part9.csv
apiScrapy/output/건설사업정보시스템/품질검사성적서 등록 목록/selectIoPmQtscList_part1.csv
apiScrapy/output/건설사업정보시스템/품질검사성적서 등록 목록/selectIoPmQtscList_part2.csv
apiScrapy/output/건설사업정보시스템/품질검사성적서 등록 목록/selectIoPmQtscList_part3.csv
apiScrapy/output/건설사업정보시스템/품질검사성적서 등록 목록/selectIoPmQtscList_part4.csv
apiScrapy/output/건설사업정보시스템/품질검사성적서 등록 목록/selectIoPmQtscList_part5.csv
apiScrapy/output/건설사업정보시스템/품질검사성적서 등록 목록/selectIoPmQtscList_part6.csv
apiScrapy/output/건설사업정보시스템/품질검사성적서 등록 목록/selectIoPmQtscList_part7.csv
apiScrapy/output/건설사업정보시스템/품질검사성적서 등록 목록/selectIoPmQtscList_part8.csv
apiScrapy/output/건설사업정보시스템/건설자재 품질검사 등록정보/selectIoPmQtlTsitStsList_old.csv
apiScrapy/output/건설사업정보시스템/품질검사성적서 등록 목록/selectIoPmQtscList.csv
apiScrapy/output/건설사업정보시스템/품질계획 현황/selectQltPlnList.csv
apiScrapy/output/건설사업정보시스템/품질계획 현황/selectQltPlnList_old.csv
apiScrapy/output/건설사업정보시스템/품질계획 현황/selectQltPlnList.csv
apiScrapy/output/건설사업정보시스템/품질계획 현황/selectQltPlnList_old.csv
apiScrapy/output/건설사업정보시스템/건설자재 품질검사 등록정보/selectIoPmQtlTsitStsList_old.csv
apiScrapy/output/건설사업정보시스템/품질검사성적서 등록 목록/selectIoPmQtscList.csv
